@use "../../scss/" as *;

.categories-bar{
    position: fixed;
    left: 0;right: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: $white;
    z-index: 1;
    top: 7rem;
    box-shadow: 0 .3rem .5rem rgba(80, 80, 80, 0.212);
    @media(max-width: 768px) {
            display: none;
        }

    .category{
        span{
            color: $main-color;
            font-size: 1.3rem;
            
                &:hover {
                    color: $gold-color;
                }
        }
    }


}