@use "../../scss/" as *;

.product-card{
    padding: 1rem;
    border: .1rem solid $light-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    background: $white;
    justify-content: space-between;
    position: relative;
    margin: 0 1rem;
    margin-top: 2rem;

    @include mobile{
        padding: 1rem;
        gap: 1rem;
        min-width: 15rem;
        width: 16.5rem;
        margin: 0;
        gap: 2rem;
    }

    &:hover{
        border: .1rem solid $gold-color;
    }

    .new{
        position: absolute;
        left: 1rem;
        top: 1rem;
        background: $red;
        border-radius: .5rem;
        padding: 0.5rem;
        color: $white;
        font-size: 1rem;

        @include mobile{
            left: 0.7rem;
            top: 0.7rem;
        }
    }
    .qty{
        position: absolute;
            right: 1rem;
            top: 1rem;
            background: $main-color;
            border-radius: .5rem;
            padding: 0.5rem;
            color: $white;
            font-size: 1rem;
        
            @include mobile {
                right: 0.7rem;
                top: 0.7rem;
            }
    }
    .out-of-stock{
        position: absolute;
            right: 1rem;
            top: 1rem;
            background: $red;
            border-radius: .5rem;
            padding: 0.5rem;
            color: $white;
            font-size: 1rem;
        
            @include mobile {
                right: 0.7rem;
                top: 0.7rem;
            }
    }

    .product-pic{
        height: 15rem;
        width: 15rem;
        overflow: hidden;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .title{
        color: $main-color;
        font-size: 2rem;
        font-weight: bold;

        @include mobile{
            font-size: 1.3rem;
        }
    }

    .prices{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.7rem;
        font-weight: bold;

        @include mobile{
            gap: .8rem;
            font-size: 1.5rem;
        }
    }
    .prices span:nth-child(1){
        color: red;
        text-decoration: line-through;
        font-size: 1.5rem;

        @include mobile{
            font-size: 1.3rem;
        }
    }
    .prices span:nth-child(2){
        color: $main-color;
    }
    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;

        @media(min-width: 768px){
            justify-content: space-between;
                width: 100%;
        }

        .btn{
            padding: .8rem 1.8rem;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-weight: 500;
            border-radius: .7rem;
            text-transform: uppercase;
            font-weight: bold;

            svg{
                font-weight: bold;
                path{
                color: $gold-color;
                }
            }

            @include mobile{
                padding: .8rem 1.2rem;
                    font-size: .9rem;
            }
        }
        .view{
            padding: .7rem .8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            border-radius: .5rem;
            text-transform: uppercase;
            font-weight: bold;
            border: .1rem solid $light-black;
            cursor: pointer;

            
            @include mobile{
                display: none;
            }

            svg{
                font-weight: bold;
                
                path{
                color: $light-black;
                }
                

            }

                        &:hover {
                            transition: all .3s ease;
                            border: .1rem solid $main-color;
                            background-color: $main-color;

                            svg {
                                    font-weight: bold;
                            
                                    path {
                                        color: $gold-color;
                                    }
                            
                            
                                }
                        }
        }
    }
}