@use "../../../scss/" as *;

/* Sidebar.scss */
.sidebar {
    width: 100%;
    background: $main-color;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .logo {
        background: $gold-color;
        padding: 2rem;
        font-size: 1.7rem;
        color: $white;
        font: bold;
        text-transform: capitalize;
    }

    .nav {
        list-style: none;
        padding: 0;

        li {
            padding: 20px;
            font-size: 1.7rem;
            text-transform: capitalize;

           

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li.active {
             background-color: $gold-color;
             color: $white;
         }
    }
}



