@use "../../scss/" as *;

.slider-container{
    padding-top: 12rem;
    height: 100vh;
    background: $white;
    overflow: hidden;
    position: relative;
    width: 100vw;

    @include mobile{
        padding-top: 8rem;
    }

    .swiper{
        width: 100%;
        height: 100%;
        position: unset;

        .swiper-slide{
            background: $white;
            width: 100%;
            display: flex;
            overflow: hidden;
        }
    }
    

        .slide{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .image{
                padding-left: 1rem;
                flex: 1;
                height: 100%;

                img{
                    height: 100%;
                    object-fit: cover;
                }
            }

            .txt{
                flex: 2;
                display: flex;
                justify-content: center;
                flex-flow: column;
                align-items: center;
                gap: 2rem;

                span{
                    text-align: center;
                    font-size: 6rem;
                    color: $main-color;
                    font-weight: bolder;
                    text-transform: uppercase;
                }
                .btn{
                    border-radius: .5rem;

                    color: $gold-color;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    
                        svg {
                            font-size: 2rem;
                    
                            path {
                                color: $gold-color;
                            }
                        }
                }
            }
           
        
    }

    .swiper-button-next{
        right: 3rem;
        z-index: 1;
        color: $white;
        height: 2rem;
        width: 2rem;
        background-color: $main-color;
        border-radius: 50%;
        padding: 1rem;
        border: 1rem solid $main-color;
    }
        .swiper-button-next::after{
            font-size: 2rem;
            font-weight: bold;
        }
    .swiper-button-prev{
        left: 3rem;
        z-index: 1;
        color: $white;
        height: 2rem;
            width: 2rem;
            background-color: $main-color;
            border-radius: 50%;
            padding: 1rem;
            border: 1rem solid $main-color;
    }
.swiper-button-prev::after{
    font-size: 2rem;
    font-weight: bold;
}
    
}