@use "../../../scss/" as *;


.admin_layout{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100vw;

    .sidebar{
        flex: 2;
    }

    .child{
        flex: 8;
    }
}


