@use "../../scss/" as *;

.mobile__navbar {
    padding: .3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border-bottom: .1rem solid rgba(0,0,0,0.09);
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;

    @media(min-width: 768px){
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        .pic{
        height: 6rem;
        width: 6rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
        }
                }
                .title{
                    text-transform: uppercase;
                    color: $main-color;
                    font-size: 1.3rem;
                }
    }

    

    .navbar-icons {
        display: flex;
        align-items: center;
        gap: 2rem;

        .icon {
            position: relative;

            svg {
                font-size: 2.5rem;
                cursor: pointer;

                path {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }

                circle {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }

                line {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }
            }

            .cart-items {
                position: absolute;
                top: -0.5rem;
                right: -0.7rem;
                padding: .5rem;
                height: 2rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                border-radius: 100%;
                background-color: $gold-color;
                color: $main-color;
                font-weight: bold;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }

 
        .mobile-search {
            position: absolute;
            left: 0;
            right: 0;
            top: 2rem;
            box-shadow: .1rem .2rem .1rem $gray-bg;
            transition: all .3s ease;
            opacity: 0;
            z-index: -10;
            border: .2rem solid $gold-color;
            border-radius: .4rem;

            .search-bar{
                
                    .icon {
                        position: absolute;
                        height: 80%;
                        width: 4.8rem;
                        background-color: $red;
                        top: 0.45rem;
                        right: .45rem;
                        border-radius: .3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                
                        svg {
                            font-size: 2.5rem;
                            cursor: pointer;
                
                            path {
                                color: $white;
                            }
                
                            circle {
                                color: $white;
                            }
                
                            line {
                                color: $white;
                            }
                
                
                        }
                    }
            }
        }

                 .mobile-search.active{
                    top: 6.7rem;
                    opacity: 1;
                 }
}
