@use "../../scss/" as *;

.mobile__navbar {
    padding: .3rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border-bottom: .1rem solid rgba(0,0,0,0.09);
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;

    @media(min-width: 768px){
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        .pic{
        height: 6rem;
        width: 6rem;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
        }
                }
                .title{
                    text-transform: uppercase;
                    color: $main-color;
                    font-size: 1.3rem;
                }
    }

    

    .close{
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        svg{
            path{
                color: #fd0404;
                // font-size: 2rem;
            }
        }
    }
.navbar-menu.active{
    right: 0;
}
    .navbar-menu {
        position: absolute;
        width: 25rem;
        gap: 1.5rem;
        right: -120%;
        top: 0;
        display: flex;
        flex-flow: column;
        align-items: start;
        justify-content: start;
        background: $white;
        height: 100vh;
        padding: 5rem 2rem 1rem;
        z-index: 10;
        box-shadow: -.3rem .2rem 1rem rgba($color: #000000, $alpha: 0.07);
        transition: all ease .3s;

        .item {

            a {
                font-size: 1.7rem;
                color: $black;
                font-weight: bold;

                &:hover {
                    color: $gold-color;
                }
            }
        }
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        gap: 2rem;

        .icon {
            position: relative;

            svg {
                font-size: 2.5rem;
                cursor: pointer;

                path {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }

                circle {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }

                line {
                    color: $main-color;

                    &:hover {
                        color: $gold-color;
                    }
                }
            }

            .cart-items {
                position: absolute;
                top: -0.5rem;
                right: -0.7rem;
                padding: .5rem;
                height: 2rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                border-radius: 100%;
                background-color: $gold-color;
                color: $main-color;
                font-weight: bold;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }
}