@use "../../scss/" as *;

.navbar {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $main-color;
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;

  @include mobile {
    display: none;
  }

  .logo {
    height: 6rem;
    width: 6rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      margin: auto;
    }
  }

  .navbar-menu {
    display: flex;
    gap: 3.5rem;

    .item {
      a {
        font-size: 1.4rem;
        color: $white;

        &:hover {
          color: $gold-color;
        }
      }
    }
  }

  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 3rem;

    .icon {
      position: relative;

      svg {
        font-size: 2.5rem;
        cursor: pointer;

        path {
                color: $white;
                // &:hover{
                //     color: $gold-color;
                // }
            }
        
            circle {
                color: $white;
                // &:hover {
                //         color: $gold-color;
                //     }
            }
        
            line {
                color: $white;
                // &:hover {
                //         color: $gold-color;
                //     }
            }

        &:hover {
          path {
            color: $gold-color;
          }
          circle {
            color: $gold-color;
          }
          line {
            color: $gold-color;
          }
        }
       
      }
      .cart-items {
        position: absolute;
        top: -0.5rem;
        right: -0.7rem;
        padding: 0.5rem;
        height: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        border-radius: 100%;
        background-color: $gold-color;
        color: $main-color;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }

  .search-bar{
    width: 50%;
    position: relative;

    .icon{
      position: absolute;
      height: 3.5rem;
      width: 4rem;
      background-color: $main-color;
      top: 0.245rem;
      right: .25rem;
      border-radius: .3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
          font-size: 2.5rem;
          cursor: pointer;
      
          path {
            color: $white;
            // &:hover{
            //     color: $gold-color;
            // }
          }
      
          circle {
            color: $white;
            // &:hover {
            //         color: $gold-color;
            //     }
          }
      
          line {
            color: $white;
            // &:hover {
            //         color: $gold-color;
            //     }
          }
      
          &:hover {
            path {
              color: $gold-color;
            }
      
            circle {
              color: $gold-color;
            }
      
            line {
              color: $gold-color;
            }
          }
      
        }
    }
  }

  // .cart-container{
  //   position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     right: -100vw;
  //     z-index: 20;
  //     transition: all .3s ease;
  // }
  //       .cart-container.active{
  //         right: 0;
  //     box-shadow: 1rem 1rem 1rem 100vw rgba(37, 37, 37, 0.3);
  //       }
}
