@use "../../scss/" as *;

.navbar{
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $main-color;
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;

    .logo{
        height: 6rem;
        width: 6rem;

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: auto;
        }
    }

    .navbar-menu{
        display: flex;
        gap: 3.5rem;

        .item{
            
            a{
                font-size: 1.4rem;
                    color: $white;

                    &:hover{
                        color: $gold-color;
                    }
            }
        }
    }

    .navbar-icons{
        display: flex;
        align-items: center;
        gap: 3rem;

        .icon{

            svg{
                font-size: 2.5rem;
                cursor: pointer;

                path{
                    color: $white;
                    &:hover{
                        color: $gold-color;
                    }
                }

                circle{
                    color: $white;
                    &:hover {
                            color: $gold-color;
                        }
                }
                line{
                    color: $white;
                    &:hover {
                            color: $gold-color;
                        }
                }
            }
        }
    }
}