@use "../../scss/" as *;

.products{
    margin-top: 5rem;
    padding-left: 4%;

    @include mobile{
        margin-top: 3rem;
        padding-left: 0;
    }

    .products-wrapper{
        padding: 2rem 3%;
        @include mobile{
            padding: 1.7rem 2%;
        }

        .category{
            width: 100%;
            margin-bottom: 4rem;
            margin-top: 7rem;

            @include mobile{
                margin-top: 3rem;
            }

            .heading{
                font-size: 2.5rem;
                text-transform: uppercase;
                text-align: left;
            }

            .products-list {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    @include mobile{
                        gap: 1rem;
                        justify-content: center;
                    }
                }
        }
        
    }

    
}
.products-loading{
    max-width: 140rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
    @include mobile{
        width: 90vw;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
        gap: 1rem;
    }
}