$main-color: #01193d;
$gold-color: #ffa600;
$black: #0f0f0f;
$white: #fff;
$light-bg: #f6fcff;
$font-family: "Poppins", sans-serif;

$mediumDevice-width: 1200px;
$tablet-width: 992px;
$medium-width: 768px;
$mobile-width: 400px;